@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 14px */
  --text-base: 0.875rem;
  --font-sans: var(--font-raleway);

  /* Colors */
  --color-blue-200: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-blue-850: hsl(228, 56%, 26%);
  --color-blue-950: hsl(229, 57%, 11%);

  /* Gradient should go from  hsl(6, 100%, 80%) to hsl(335, 100%, 65%)*/
  --color-grad-orange: hsl(6, 100%, 80%);
  --color-grad-red: hsl(335, 100%, 65%);
}

body {
  background: var(--color-blue-950);
  color: var(--color-grayish-blue);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}
