@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 14px */
  --text-base: 0.875rem;
  --font-sans: var(--font-raleway);

  /* Colors */
  --colors-blue-200: hsl(243, 100%, 93%);
  --colors-grayish-blue: hsl(229, 7%, 55%);
  --colors-blue-850: hsl(228, 56%, 26%);
  --colors-blue-950: hsl(229, 57%, 11%);

  /* Gradient should go from  hsl(6, 100%, 80%) to hsl(335, 100%, 65%)*/
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
